* {
    margin: 0;
    padding: 0;
    background-color: #edf0eb;
    font-family: 'Poppins';

}

body {
    margin-right: 200px;
    margin-left: 200px;
}

.container {
    width: 100%;
    height: 100vh;
}

.navigation-bar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    padding-top: 20px;
}

.receipt-icon {
    height: 40px;
    width: 40px;
    margin-top: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    margin-right: 25px;

}

nav ul li {
    margin-top: 20px;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.button1 {
    background-color: #edf0eb;
    border: 2px solid #18204a;
    color: #18204a;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #18204a;
    color: white;
}

.button2 {
    background-color: #18204a;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.center-image {
    align-items: center;
    margin-top: 60px;
}

.dinner-table {
    width: 80%;
    height: 400px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Thank-You {

    .text {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        color: #18204a;
    }

    margin-top: 40px;
}

.button3 {
    margin-top: 40px;
    background-color: #18204a;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    position: absolute;
    left: 44.5%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}